<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 class="text-center">DDMA TVPM</h3>
            </div>
    
            <ul class="list-unstyled components ">
                <p>Dashboards</p>
                <li>
                    <a href="/admin/">Main Dashboard</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registrations Details</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/admin/shops">Shops</a>
                        </li>
                        <li>
                            <a href="/admin/users">Users</a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <a href="/admin/reports">Reports</a>
                </li>
                
            </ul>
        </nav>
        
        <div class="container-fluid dashboard-content">
            <h1 class="m-3">Admin Dashboard</h1>
            <!--Alerts Section-->
            <% if (message) { %>
                 <div class="mx-5 alert alert-danger" role="alert"><p class="font-weight-light"><%= message %></p></div> 
            <% } %>
            <!--End of alert Section-->
            <section class="m-5">
                <div class="row mx-auto px-auto">
                    <div class="col col-10 col-sm-10 col-md-5  m-2">
                        <div class="card">
                            <h3 class="font-weight-bold m-2 text-center">Total Shop Registered</h3>
                            <p class="Nmain p-1"><%= shopCount %></p>
                        </div>
                    </div>
                    <div class="col col-10 col-sm-10 col-md-5 m-2">
                        <div class="card">
                            <h3 class="font-weight-bold m-2 text-center">Total Users Registered</h3>
                            <p class="Nmain p-1"><%= userCount %></p>
                        </div>
                    </div>

                    <div class="col col-5 m-2"></div>
                </div>
            </section>
            <!--Main Info: total Registrations-->
            
            <!---->


        </div>
    </div>

      <script>
        $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

        });
      </script>
</body>
</html>