Forgot password

<form method="POST" action="/forgot">
    <label for="email">
        Enter Email
        <input type="text" name="email">
    </label>
    <button type="submit">Submit</button>
</form>

A password reset mail will be sent to your registered email address.

If you still face any problems. Contact Us : 