<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<%- include("partials/libraries") %> 

</head>


<body>
 
    <!-- Here goes navbar -->
	<nav class="navbar  navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">QuaCoMo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Help</a>
			</li>
			
		  </ul>
		  
		</div>
		
	  </nav>

	  <!-- Header starts here -->
	<div class="space-100"></div>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="/home">Home</a></li>
			  <li class="breadcrumb-item active" aria-current="page">Login</li>
			</ol>
		</nav>
		
	</div>

	<!--  form starts here -->
    
    <!-- <div class="overlay">Loading</div> -->

    <div class="container">

		<form action="/login" method="POST">

			<div class="form-group">
				<label for="username">Email</label>
				<input name="username" type="text" id="email" class="form-control">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input name="password" type="password" id="pass" class="form-control">
			</div>
			<button id="register" class="btn btn-dark">
				Login
			</button>

		</form>
		<br><br>
        <span>Don't have an account? </span>
        <a href="/register">Register</a>

	</div><!-- container ends  -->
	

	
	
	<!-- Here is the footer -->
<!-- 
	<div class="space-100"></div>
	<div class="footer bg-dark"></div> -->

</body>

</html>