<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/css/login.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
</head>

<body>


    <label for="email">Email</label>
    <input name="email" type="text" id="email">
    <br>
    <label for="pass">Password</label>
    <input name="pass" type="password" id="pass">
    <br>

    <div id="recaptcha-container"></div>
    <div id="confirmation-result"></div>

    <button id="login_btn">
        Login
    </button>

    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
    
    <!--===============================================================================================-->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-firestore.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>
    <!--===============================================================================================-->
    <script src="assets/js/login.js"></script>


</body>

</html>