<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script
			  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
			  crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- edited by jithin k satheesh -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/assets/css/common.css">

	<!-- (^_^) -->

</head>


<body>
 
    <!-- Here goes navbar -->
	<nav class="navbar  navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">QuaCoMo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Help</a>
			</li>
			
		  </ul>
		  
		</div>
		
	  </nav>

	  <!-- Header starts here -->
	<div class="space-100"></div>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
			  <li class="breadcrumb-item active" aria-current="page">addUser</li>
			</ol>
		</nav>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			  <h1 class="font-weight-lighter">User Registation</h1>
			  <p class="lead">Enter your details if you are a shop owner</p>
			</div>
		</div>
	</div>

	<!--  form starts here -->
    
    <!-- <div class="overlay">Loading</div> -->

    <div class="container">

		<form action="/register" method="POST">

			<div class="form-group">
				<label for="name">Name</label>
				<input name="name" type="text" id="name"  class="form-control">
			</div>
			<div class="form-group">
				<label for="username">Email</label>
				<input name="username" type="text" id="email" class="form-control">
			</div>
			<div class="form-group">
				<label for="phone">Phone Number</label>
				<input name="phone" type="text" id="phone" class="form-control">
			</div>
			<div class="form-group">
				<label for="aadhar">Aadhar</label>
				<input name="aadhar" type="text" id="aadhar" class="form-control">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input name="password" type="password" id="pass" class="form-control">
			</div>
			<button type="submit" id="register" class="btn btn-dark">
				Register
			</button>

		</form>
		<br><br>
        <span>Already a user? </span>
        <a href="/login">Sign in</a>

	</div><!-- container ends  -->
	

	
	
	<!-- Here is the footer -->

	<div class="space-100"></div>
	<div class="footer bg-dark"></div>

</body>

</html>