<!DOCTYPE html>
<html>
<head>
	<title>Report shortage</title>
	<meta charset="utf-8">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<%- include("partials/libraries") %> 
	
	<script type="text/javascript" src="../assets/js/select.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/shop.css">
	

</head>
<body>
	
	<!-- Here goes navbar -->
	<%- include("partials/nav") %>
	<!-- Header starts here -->
	<div class="space-100"></div>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="/home">Home</a></li>
			  <li class="breadcrumb-item active" aria-current="page">Report</li>
			</ol>
		</nav>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			  <h1 class="font-weight-lighter">Report Shortage</h1>
			  <p class="lead">In case of shortage of necessary items in your area , report here.</p>
			</div>
		</div>
	</div>

	<!--  form starts here -->

	<div class="container">

		<form method="POST" action="/shop/addShop"	id="shopownerForm">
			<div class="form-group">
				<label>your Name : </label>
				<input class="form-control" type="text" name="name" id="name" required>
			</div>	
			<div class="form-group">
				<label>Phone Number : </label>
				<input class="form-control" type="text" name="phone" id="phone" pattern="[0-9]{10}" required>
				<p id="phoneValidation"></p>
			</div>
			<!--
			<div>
				<label>Select State : </label>
				<select id="state"></select>
			</div>
			-->
			<div class="form-group">
				<label>Select District : </label>
				<select id="district" class="form-control" name="district" required></select>
			</div>
			<div class="form-group">	
				<label>Select Panchayat / Muncipality : </label>
				<select id="panchayat" class="form-control" name="panchayath" required></select>
			</div>
			<div class="form-group">
				<label>Select locality : </label>
				<select id="locality" class="form-control" name="locality" ></select>
			</div>
			<div class="form-group">	
				<label>Items that are short in your area :</label> <br>
				<input type="checkbox" name="items" id="milk" value="milk"> milk
				<input type="checkbox" name="items" id="groceries" value="groceries"> groceries
				<input type="checkbox" name="items" id="veg" value="vegetables"> vegetables
				<!-- Add more items -->
			</div>	
			<div class="form-group">
				<label>Comment / Description : </label>
				<input class="form-control" type="text" name="description" id="description" pattern="[0-9]{10}" required>
				<p id="phoneValidation"></p>
			</div>
			<div class="form-group">
				<input type="checkbox" id="declaration" required>
				<label for="declaration">
					<small>I hereby declare that the details furnished above are true and correct to the best of my knowledge.</small>
				</label>
	
			</div>
			
			<div>
				<button type="submit" id="submit" class="btn btn-dark">Report shortage</button>
			</div>
		</form>	
	</div>



	<!-- Here is the footer -->

	<div class="space-100"></div>
	<div class="footer bg-dark"></div>
</body>
</html>