Reset your password

<form action="/reset" method="POST">
    <label for="password">
        New Password 
        <input type="password" name="password" id="pass">
    </label>
    <label for="confirm">
        Confirm Password
        <input type="password" name="password" id="confirm">
    </label>
    <button type="submit">Submit</button>
</form>